#############################
#### Configuration Files ####
#############################
.DS_Store
.vscode
.idea
.fleet

#############################
### Build Files & Folders ###
#############################
dist/
build/
__pycache__

#############################
### venv & Code Coverage ####
#############################
.venv/
.coverage
/htmlcov

#############################
########### Misc ############
#############################
# .mypy_cache
# .pytest_cache
