#############################
#### Configuration Files ####
#############################
.DS_Store
.vscode
.idea
.fleet

#############################
### Build Files & Folders ###
#############################
/DataVisualization/__pycache__
dist/
build/

#############################
### venv & Code Coverage ####
#############################
.venv/
.coverage
/htmlcov

